@model ZSZ.AdminWeb.Models.HouseListModel
@{
    ViewBag.Title = "房源列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 房源管理 <span class="c-gray en">&gt;</span> 房源列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="pd-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="batch_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="layer_show('添加房源', '/House/Add', '800', '500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加房源</a></span> <span class="r">共有数据：<strong id="strong1">@Model.Houses.Count()</strong> 条</span> </div>
        <form id="formList">
            <table class="table table-border table-bordered table-bg">
                <thead>
                    <tr>
                        <th scope="col" colspan="8">管房源列表</th>
                        <th colspan="1">城市：
                           <select id="city">
                               @foreach (var city in Model.Cities)
                               {
                                <option value="@city.Id" selected="@Model.SelectedCityId.Equals(city.Id)">@city.Name</option>
                               }                               
                           </select>
                        </th>
                    </tr>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox"></th>
                        <th width="150">区域</th>
                        <th width="150">小区名</th>
                        <th width="150">地段</th>
                        <th width="150">租金</th>
                        <th width="150">房型</th>
                        <th width="150">面积（平米）</th>
                        <th width="150">装修状态</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var house in Model.Houses)
                    {
                        <tr class="text-c">           
                            <td><input type="checkbox" value="@house.Id" name="selectedIds"></td>                 
                            <td>@house.RegionName</td>
                            <td>@house.CommunityName</td>
                            <td>@house.CommunityLocation</td>
                            <td>@house.MonthRent</td>
                            <td>@house.RoomTypeName</td>
                            <td>@house.Area</td>
                            <td>@house.DecorateStatusName</td>
                            <td class="td-manage">
                                <a title="编辑" href="javascript:;" onclick="layer_show('房源编辑','/House/Edit/@house.Id','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                <a title="删除" href="javascript:;" onclick="house_del(this,@house.Id)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                <a title="图片列表" href="~/House/PicList/@house.Id" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe613;</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>            
        </form>
    </div>
<div>
    @Html.Raw(ViewBag.pager)
</div>
@section FooterScript
{
<script type="text/javascript">
    function house_del(obj, id) {        
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: "post", url: "/House/Delete", data: { id: id }, dataTpye: "json",
                success: function (result) {
                    if (result.status == "ok") {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', { icon: 1, time: 2000 });
                    }
                    else {
                        layer.msg('删除失败!', { icon: 2, time: 2000 });
                    }
                },
                error: function () {
                    alert("错误");
                }
            });
        });
    }
    function batch_del() {
        layer.confirm('确认要批量删除吗？', function () {
            var dataList = $("#formList").serializeArray();
            $.ajax({
                type: "post", url: "/House/BatchDelete", data: dataList, dataType: "json",
                success: function (result) {
                    if (result.status == "ok") {
                        location.reload();
                    }
                },
                error: function () {
                    alert("错误");
                }
            });
        });
    }
    $("#city").change(function () {
        location.href = "/House/HouseList?cityId=" + this.value;
    });
</script>
}